<%= @list.title %>
<%= @list.color %>
<%= @list.status %>


<% unless @tasks.empty? %>

<% end %>
<ul id="tasks">
  <% @tasks.each do |task| %>
  <li id="<%= task.id %>">
    <div class="content">
      <%= task.content %>
    </div>
    <div class="status">
      <%= task.status %>
    </div>
    <div class="buttons">
      <%= link_to "delete", task, method: :delete, remote: true,
                                     data: { confirm: "You sure?" } %>
      <%= link_to "edit", task, method: :get %>
    </div>
  </li>
  <% end %>
</ul>

<%= form_for @task, remote: true do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.hidden_field :list_id, value: params[:id] %>
  <%= f.submit "Add" %>
<% end %>